.page-header {
  height: 75px;
  background-color: #333;
}
.page-header .logo {
  text-align: center;
  color: white;
  padding: 15px 0;
}
.page-header .nav-menu ul {
  text-align: center;
}
.page-header .nav-menu ul li {
  display: inline-block;
  margin: 0 10px;
}
.page-header .nav-menu ul li a {
  color: white;
  text-decoration: none;
}
.content {
  background-color: rgba(195, 195, 195, 0.5);
  height: max-content;
}
.content .content-heading {
  text-align: center;
  padding: 20px 0;
  font-size: 18px;
  font-weight: 600;
}
.content .product-list {
  width: 80%;
  margin: 0 auto;
}
.content .product-list .product-card {
  display: inline-block;
  padding: 0 25px;
}
.content .product-list .product-card .product-image {
  width: 350px;
  height: 250px;
}
.content .product-list .product-card img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.content .product-list .product-card .product-info {
  width: 400px;
  height: 200px;
  margin: 10px 7px;
}
.content .product-list .product-card .product-info .product-name {
  color: black;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
}
.content .product-list .product-card .product-info .product-description {
  margin: 7px 0;
}
.content .product-list .product-card .product-info .product-price {
  margin: 5px 0;
  font-weight: bold;
  color: orange;
}
.content .product-list .product-card .product-info .add-to-basket {
  padding: 7px 15px;
  border-radius: 3px;
  background-color: #333;
  color: white;
  border: none;
}

.page-footer {
  background-color: #333;
  text-align: center;
  padding: 20px 0;
  color: white;
}
